.invoice-header {
    text-align: center;
    border-bottom: 1px dotted #ddd !important;
}
.a4-invoice {
    max-width: 210mm;    /* A4 width */
    margin: 0 auto;
  }
  
.invoice-logo {
    width: 100px;
    display:table;
}

.company-details {
    text-align: center;
    margin-top: 5px;
    border-bottom: 2px dotted #ddd !important;
}

.company-address {
    white-space: break-spaces;
    margin-bottom: 0px;
}

.tax-invoice-details {
}

.invoice-customer-details {
    width: 100%;
    margin-bottom: 5px;
}

.tax-invoice-title {
    text-align: center;
    margin-top: 0px;
}

.tax-invoice-items {
    margin-top: 10px;
}

.item-row {
    border-bottom: 1px dotted #ddd !important;
}

.tax-invoice-totals {
    margin-top: 5px;
    border-top: 2px dotted #ddd !important;
    border-bottom: 2px dotted #ddd !important;
}

.paid-amount-deatils {
    margin-top: 10px;
    text-align: center;
}

.paid-amount-row {
    border-top: 2px dotted #ddd !important;
    border-bottom: 2px dotted #ddd !important;
}

.thanks-details {
    margin-top: 5px;
    text-align: center;
}

.barcode-details {
    margin-top: 10px;
    text-align: center;
}

.footer-button {
    text-align: center !important;
}

.discount-details {
    padding: 5px 0px;
    border-top: 2px dotted #ddd !important;
    border-bottom: 2px dotted #ddd !important;
}

.discount-details p {
    margin-bottom: 0px;
}
@media print {
    @page {
      size: A4;
      margin: 12mm;      /* adjust as you like */
    }
  
    /* Override any inline widths from old code */
    #pos-invoice .a4-invoice {
      max-width: 210mm !important;
      width: 210mm !important;
    }
  
    /* Optional: nicer print tables */
    table { page-break-inside: auto; }
    tr, td, th { page-break-inside: avoid; }
  }
  